@model IEnumerable<HospitalProject.Models.ParkingLot>

<main class="secondary-main">
    <div class="row">
        <div class="col-xs-3 container-fluid">

            <!-- Slideout Button -->
            <button class="slideout_btn" type="button">
                <div class="show-more">
                    <img src="~/Images/show-more.png" alt="Show More" />
                </div>
            </button>

            <!-- Slideout Aside - Shows in Mobile -->
            <div class="slideout">
                @Html.Partial("_AdminAside")
            </div>

            <!-- Static Aside - Hides in Mobile-->
            <div class="aside-hide">
                @Html.Partial("_AdminAside")
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 page-row">
            <div class="container">


                @* MAIN CONTENT - ADD YOUR FEATURE HERE *@
                <h4>Directions/Services Options</h4>
            <div class="row">
                <ul class="col-md-10 col-md-offset-2 nav nav-pills  ">
                    <li>@Html.ActionLink("Manage Amenities", "Index", "Amenities")</li>
                    <li>@Html.ActionLink("Manage Buildings", "Index", "Buildings")</li>
                    <li class="active">@Html.ActionLink("Manage Parking Lots", "Index", "ParkingLots") </li>
                    <li>@Html.ActionLink("Manage Entrances", "Index", "Entrances")</li>
                </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <h2 class="page-title">Parking Lots</h2>
                    <p>Here, you can manage all the parking lots at your hospital</p>
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Lot_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Building.Building_Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lot_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Building.Building_Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>



                @* -------- PLEASE DO NOT CHANGE ANYTHING FROM HERE... -------- *@
            </div> <!-- End of Page Container -->
        </div> <!-- End of Page Column -->
    </div> <!-- End of Row -->
</main> <!-- End of Main -->
@* ------------------------- TO HERE ------------------------- *@



